<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>{% block title %}Login{% endblock %}</title>
</head>
<body style="background-image: url('../static/Metacalm-2.png'); background-size: cover; background-repeat: no-repeat;">
    {% block content %}{% endblock %}
</body>
</html>
