{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="flex justify-between items-center py-4 px-8">
    <div class="text-center mx-auto"> <!-- Add mx-auto class here to center the text -->
        <h1 class="text-4xl font-bold text-black underline">
            <u>Dashboard</u>
        </h1>
    </div>
    <!-- Sign Out Button (Top Right) -->
    <a href="/" class="btn btn-outline btn-primary">Sign Out</a>
</div>

<div class="dashboard-bg flex justify-center items-center h-screen">
    <div class="dashboard-container">
        <div
            class="dashboard-box bg-opacity-40 bg-white p-4 rounded-lg shadow-md text-center w-3/6 text-black mb-48 mx-auto">
            <p class="text-lg mb-4">Hi {{ username }}!</p> <!-- Display the username here -->
            <p class="text-lg mb-4">
                About your assessment: You have shown {{ sus_instance }} instances of self-harm or low mental health.
            </p>
        </div>
        <div
            class="dashboard-box bg-opacity-40 bg-white p-4 rounded-lg shadow-md text-center mb-4 mt-10 w-8/12 mx-auto">
            <p class="text-lg text-black">
                These results are not meant to be a diagnosis. Make sure to meet a doctor or therapist to get a
                diagnosis. Sharing these results with someone you trust can be a good place to start. <br> If
                interested,
                start therapy
                with a Psychologist. Here are some good options:<br>
                <a class="text-blue-600 underline"
                    href="https://www.justdial.com/Thiruvananthapuram/Clinical-Psychologist-Doctors/nct-10940860">Psychologists
                    Near Me</a><br>
            </p>
        </div>
    </div>
</div>

<!-- Modal Element -->
<dialog id="my_modal_2" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Warning</h3>
        <p class="py-4">
            If you need immediate help, you can reach the Suicide and Crisis Lifeline by calling or texting 988 or
            using the chatbox at 988lifeline.org. You can also text 'MHA' to 741-741 to reach the Crisis Text Line.
            Warmlines are an excellent place for non-crisis support.
        </p>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<script>
    const my_modal_2 = document.getElementById('my_modal_2');
    var susInstance = {{ sus_instance }};

    // Calculate a random delay between 3 to 5 seconds (3000 to 5000 milliseconds)
    const randomDelay = Math.floor(Math.random() * (5000 - 3000 + 1) + 3000);

    // Set a timeout to show the modal after the random delay
    setTimeout(() => {
        // Check sus_instance value and show modal if it's greater than 5
        if (susInstance > 5) {
            my_modal_2.showModal();
        }
    }, randomDelay);
</script>

{% endblock %}