{% extends "base.html" %}

{% block title %}MetaCalm{% endblock %}

{% block content %}
<div class="flex justify-end items-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-96" style="margin-right: 20rem;">
        <h1 class="text-2xl text-indigo-700 text-center font-semibold mb-4">Metacalm</h1>
        {% if error %}
        <p class="text-red-500 mb-4">{{ error }}</p>
        {% endif %}
        <form action="/login" method="POST">
            <div class="mb-4">
                <input type="text" name="username" placeholder="Username"
                    class="input input-bordered bg-gray-100 w-full max-w-xs" required>
            </div>
            <div class="mb-4">
                <div class="relative">
                    <input type="password" name="password" id="password" placeholder="Password"
                        class="input input-bordered bg-gray-100 w-full max-w-xs" required>
                    <button type="button" id="togglePassword"
                        class="absolute inset-y-0 right-0 flex items-center px-2 focus:outline-none hover:underline">
                        Show Password
                    </button>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-full text-gray-400 hover:text-white">Login</button>
        </form>
    </div>
</div>

<script>
    const passwordInput = document.getElementById('password');
    const togglePasswordButton = document.getElementById('togglePassword');

    togglePasswordButton.addEventListener('click', () => {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });
</script>
{% endblock %}